<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Projets du portfolio d'Amira Tounekti - web designer."/>
    <title>Projets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- Id app se charge de communiquer avec Vue, et la class portfolio donne le style CSS. -->
    <div id="app" class="portfolio">
      <!-- Le header est « pinné » avec GSAP pour qu’il ne bouge pas lors des défilements, afin qu’il reste toujours visible avec la navigation et le logo. -->
      <header>
        <!-- La navigation permet le déplacement général sur mon site, entre les sections Projets et Accueil. -->
        <div class="navigation">
          <!-- 📱Le menu sandwich apparaît lors du format mobile de mon site. Cela permet de prendre moins de place que les deux boutons classiques de navigation.📱-->
          <div class="menuSandwitch" @click="menuEtats">
            <!-- Les trois div forment, dans le style CSS, un menu sandwich composé de trois lignes horizontales, l’une en dessous de l’autre. -->
            <div class="menu sandwitch1"></div>
            <div class="menu sandwitch2"></div>
            <div class="menu sandwitch3"></div>
            <!-- Lorsque le menu sandwich est cliqué, cela fait apparaître le menu déroulant sous le header grâce au codage en Vue.js.-->
            <section class="menuDeroulant">
              <!-- Le clic sur le menu sandwich va provoquer, dans menuEtats, le passage de menuOuvert à true.-->
              <ul class="sousMenu" v-if="menuOuvert">
                <!-- Au clic sur un lien Projets, un ajout du type de projet sera fait dans l’URL de la page Projets, donnant ainsi accès aux images et textes dans le JSON du projet en question à l’utilisateur. -->
                <li id="projet1"><a @click="resto()">modelisation 3D</a></li>
                <li id="projet2"><a @click="jeux()">jeux video</a></li>
                <li id="projet3"><a @click="animation3d()">animation 3D</a></li>
                <li id="projet4"><a @click="courtMetrage()">court metrage</a></li>
              </ul>
            </section>
          </div>
          <!-- Les boutons apparaissent par défaut pour remplacer le menu sandwich de la version mobile. -->
          <nav class="boutons">
            <!-- Le bouton Accueil ramène les utilisateurs à la page d’accueil, tout comme le clic sur le logo.-->
            <div class="bouton accueil">Accueil</div>
            <!-- Le bouton Projets fait dérouler, au survol, le menu déroulant qui apparaît juste en dessous du bouton. -->
            <div class="bouton projet">
              Projets
              <section class="menuDeroulant">
                <!-- Le sous-menu contient tous les liens vers la page Projets qui, au clic, ajoutent selon le projet le type de projet à l’URL, permettant ainsi à Vue.js d’afficher les textes et les images liés au projet cliqué. -->
                <ul class="sousMenu">
                  <li id="projetUn"><a @click="resto()">modelisation 3D</a></li>
                  <li id="projetDeux"><a @click="jeux()">jeux video</a></li>
                  <li id="projetTrois"><a @click="animation3d()">animation 3D</a></li>
                  <li id="projetQuatre"><a @click="courtMetrage()">court metrage</a></li>
                </ul>
              </section>
            </div>
          </nav>
          <!-- Le logo, se trouvant dans le header, permet, au clic, de revenir à la page d’accueil grâce à du code JavaScript. -->
          <img class="logo" src="./img/logo.png" alt="logo-portfolio" />
        </div>
      </header>
      <!-- 🎭Le main contient toutes les informations fournies par cette page.🎭 -->
      <main>
        <!-- Le div tombe-neige, qui se trouve tout en haut de la page, ne bouge pas au scroll et contient les animations GSAP des div flocons qui tombent. -->
        <div class="tombeNeige">
          <!-- Les div flocon sont stylisés en CSS pour ressembler à de la neige. -->
          <div class="flocon neige1"></div>
          <div class="flocon neige2"></div>
          <div class="flocon neige3"></div>
          <div class="flocon neige4"></div>
          <div class="flocon neige5"></div>
          <div class="flocon neige6"></div>
        </div>
        <!-- Le div decoPresentation contient l’image de la première section de mon site. -->
        <section class="decoPresentation">
          <!-- L’URL de mon image projet, qui présente à l’utilisateur un aperçu principal de mon projet, sera contenue dans principalImageProjet, qui décidera de sa taille à l’écran. -->
          <div class="principalImageProjet" v-if="project.length">
            <!-- Un lien cliquable, qui change en fonction de l’URL décidée par Vue.js, mènera au résultat de mon projet. -->
            <a :href="lienProjet" target="_blank">
              <img class="imagePrincipalProjet" :src="imagePrincipal" alt="image-principal-du-projet"/>
            </a>
          </div>
        </section>
        <!-- La premierSectionProjet contient toutes les informations du projet sélectionné ; elle est majoritairement gérée par Vue.js. Il y a dans cette section une image de fond et une animation GSAP qui donne un effet parallaxe. -->
        <section class="premierSectionProjet">
          <!-- Le div projetExplixation présente une partie de la présentation de mon projet avec un titre dans un effet de papier découpé. -->
          <div class="projetExplixation">
            <!-- Le div imageProjet partage le même style CSS que le deuxième imageProjet. Le div contient l’image et la positionne adéquatement. -->
            <div class="imageProjet explixationImg">
              <!-- L’image qui sera présentée dans la page est choisie en fonction de l’URL, gérée par Vue.js. -->
              <img id="explixationImage" :src="imageDescritpion" alt="image-du-projet"/>
            </div>
            <!-- L’article possède un texte qui présente en partie le projet, et le texte affiché est géré par Vue.js. -->
            <article class="projetConception">
              <h2 class="titre 1">{{titreDescritpion}}</h2>
              <p class="conception">{{paragrapheDescription}}</p>
            </article>
          </div>
          <!-- Le div projetDeveloppement présente une partie de la présentation de mon projet avec une description dans un effet de papier découpé. -->
          <div class="projetDeveloppement">
            <!-- Le div imageProjet partage le même style CSS que le deuxième imageProjet. Le div contient l’image et la positionne adéquatement. -->
            <div class="imageProjet developpementImg">
              <!-- L’image qui sera présentée dans la page est choisie en fonction de l’URL, gérée par Vue.js. -->
              <img
                id="developpementImage"
                :src="imageConception"
                alt="image-du-projet"
              />
            </div>
            <!-- L’article possède un texte qui présente en partie le projet, et le texte affiché est géré par Vue.js. -->
            <article class="projetConception">
              <h2 class="titre 2">{{titreConception}}</h2>
              <p class="conception">{{paragrapheConception}}</p>
            </article>
          </div>
          <!-- Le div projetCreation n’apparaît que si estModele existe. L’existence de estModele sera gérée par Vue et dépendra de l’URL de la page projets. -->
          <div class="projetCreation" v-if="estModele">
            <!-- Swiper est un carrousel qui est géré dans le JavaScript avec la bibliothèque Swiper. -->
            <div class="swiperResto explixationImg">
              <div class="swiper-wrapper">
                <!-- Chaque swiper-slide contient une image d’un projet. -->
                <div class="swiper-slide">
                  <img src="./img/projets/model-pot-page-resto.png" alt="carrousel-resto-model-pot"/>
                </div>
                <div class="swiper-slide">
                  <img src="./img/projets/model-porte-page-resto.png" alt="carrousel-resto-model-porte"/>
                </div>
                <div class="swiper-slide">
                  <img src="./img/projets/model-drapeau-page-resto.png" alt="carrousel-resto-model-drapeau"/>
                </div>
                <div class="swiper-slide">
                  <img src="./img/projets/moodboard-page-resto.png" alt="carrousel-resto-moodboard"/>
                </div>
                <div class="swiper-slide">
                  <img src="./img/projets/sketch-drapeau-page-resto.png" alt="carrousel-resto-sketch-drapeau"/>
                </div>
                <div class="swiper-slide">
                  <img src="./img/projets/sketch-porte-page-resto.png" alt="carrousel-resto-sketch-porte"/>
                </div>
                <div class="swiper-slide">
                  <img src="./img/projets/sketch-pot-page-resto.png" alt="carrousel-resto-sketch-pot"/>
                </div>
              </div>
              <!-- Les swiper-pagination dirigent le passage d’une image à l’autre du carrousel. -->
              <div class="swiper-pagination"></div>
            </div>
            <!-- L’article possède un texte qui présente en partie le projet, et le texte affiché est géré par Vue.js. -->
            <article class="projetConception">
              <h2 class="titre 3">{{creationTitre}}</h2>
              <p class="conception 3">{{creationText}}</p>
            </article>
          </div>
        </section>
      </main>
      <!-- Le footer présente les informations de navigation et trois informations personnelles pour les utilisateurs. -->
      <footer>
        <section class="infoGeneral">
          <div class="contact">
            <h4>Contact</h4>
            <p class="paragrapheInfo">
              Email: amiratounekti05@gmail.com<br />Pays: Canada<br />Province:
              Québec
            </p>
          </div>
          <div class="Navigation">
            <h4>Navigation</h4>
            <p class="paragrapheInfo">Accueil<br />Projets</p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Cette partie de mon code contient ma bibliothèque GSAP, ScrollTrigger, Swiper, Vue.js et le lien vers mon script JavaScript. -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
