
/*L’intégration de la font pour mon site*/
@font-face {
    src: url("./font/OugkehRegular-DYYrW.otf") format("opentype");
    font-family: "ougkeh";
}

@font-face {
    src: url("./font/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
    font-family: "merriweather";
}

/*Liste des couleurs que je vais souvent utiliser*/
:root {
    --bleu-fonce: #426C8D;
    --bleu-tres-fonce: #2d4a61;
    --bleu-claire: #D6E5EF;
    --bleu-claire-fonce: #a5b2bb;
    --mauve-claire: #97EAD2;
    --mauve-fonce: #222C73;
    --blanc: rgb(255, 255, 255);
    --jaune: #F3E478;
}
html {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
/*L’intégration de la font pour mon site*/
* {
    box-sizing: border-box;
    margin: 0;
}

/*Le potfolio est un div qui anglobe tous et empeche que des elements depansse l'ecran*/
.portfolio {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*Le body possede la couleur de base de mon site*/
body {
    background-color: var(--bleu-fonce);
}

img {
    max-width: 100%;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ⬆️ HEADER ET NAVIGATEUR DU PORFOLIO ⬆️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Le header englobe tout le navigateur de mon site*/
header {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--bleu-fonce);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 120px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 50px black;
}

/*Le navigateur possede le logo et mes navigations en forme de div cliquable*/
.navigation {
    width: 75vw;
    max-width: 100%; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/*Le logo presente l'identiter de mon site et presente mon nom*/
.logo {
    width: 20%;
    max-width: 20%; 
    cursor: pointer;
}

/*Le boutons onglobe le bouton accueil et projet*/
.boutons {
    display: flex;
}

/*Le bouton s'occupe du style des deux bouton acceuil et projet*/
.bouton {
    position: relative;
    margin: 70px;
    font-size: 2em;
    padding: 12px 19px;
    border-radius: 13px;
    font-family: "ougkeh", sans-serif;
    color: var(--mauve-claire);
    z-index: 0;
    cursor: pointer;
    margin: 0 30px;
    background:
        linear-gradient(var(--mauve-fond, #426C8D), var(--mauve-fond, #426C8D)) padding-box,
        linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce)) border-box;
    border: 4px solid transparent;
}

/*Le bouton:hover creer un changement de couleur pour signifier a l'interacteur qu'il peut cliquer dessus*/
.bouton:hover {
    color: var(--jaune);
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
}

/*Le menuDeroulant onglobe le sousMenu ou il vas se trouver la liste des projets. Il est positionner juste en dessous du bouton projet et n'est pas encore visible car il est en display: none*/
.menuDeroulant {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: var(--bleu-tres-fonce);
    border-radius: 0 10px 10px 10px;
    display: none;
}

/*Lorsque il y a un survole sur le .bouton.projet le menuDerout apparait en changant son display*/
.bouton.projet:hover .menuDeroulant {
    display: block;
}

/*Le sousMenu vas englober les liste de projets qui sont en lien cliquable*/
.sousMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

/*Les liens qui se trouve dans le sousMenu sont styliser pour l'adapter au style du sous menu dans lequel il se trouve et la font mis en place pour le texte.*/
.sousMenu li a {
    display: block;
    height: 100%;
    padding: 10px 22px;
    color: var(--mauve-claire);
    text-decoration: none;
    font-family: "ougkeh", sans-serif;
    font-size: 0.8em;
}

/*Pour chaque lien de projets le style changeras au survole pour signifier la possibiliter d'une interaction*/
.sousMenu li a:hover {
    background-color: var(--bleu-claire-fonce);
    color: var(--jaune);
}

/*Le radius du bouton projet change au survol de celui-ci pour creer une plus grand symbiose avec le menuDeroulant*/
.bouton.projet:hover {
    border-radius: 10px 10px 0 0;
}

/*Le menuSandwitch est la version mobile du menuDeroulant et il n'apparait que lorsque la largeur de l'ecran et plus petit que 900px*/
.menuSandwitch {
    display: none;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ↗️ PREMIERE SECTION DU PORTFOLIO ↗️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Les flocons se trouvent dans ce grand div avec (.principalImag).*/
.decoPresentation {
    position: relative;
    z-index: 1;
    height: 200vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/*(.principalImag) englobe le dessin. Une animation d'opaciter est creer a sont apparition*/
.principalImage {
    position: fixed;
    margin: 7vh 0 80px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: anim;
    animation-duration: 2s;
}

/*Le dessin est une illustration qui pressante mon style artistique.*/
.dessin {
    width: 40%;
    object-fit: contain;
    display: block;
    border: inset 10px var(--bleu-claire);
}

.tombeNeige {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200%;
}

/*Les flocons sont des div rond qui represente de la neige et qui possèdent le  style, ensuite ils sont mis à diverses positions avec (.neige) dans le javascript.*/
.flocon {
    position: absolute;
    top: -300px; 
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: var(--blanc);
    border-radius: 90px;
    box-shadow: 0px 0px 30px var(--blanc);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ➡️ DEUXIEME SECTION DU PORTFOLIO ⬅️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Cette section est enneigée et elle englobe À propos. Il y a dessus dans le javascript une animation qui le fait l'effet parralaxe.*/
.deuxiemeSection {
    position: relative;
    width: 100%;
    height: 200vh;
    background-image: url('./img/2ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2; /* Passe au-dessus de decoPresentation */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

/*Dans la section Présentation, il y a la photo et le (À propos). Elle prend toute la largeur pour les centrer.*/
.presentation {
    margin: 10% 0 10% 0;
    width: 55%;
    height: 25%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 29px 25px rgb(45, 74, 97, 0.6);
}


/*Dans photo il y a ma photo professionel.*/
.photo {
    position: relative;
    width: 18%;
    height: 70%;
    background-image: url('./img/icon/photo_profesionel-2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: inset 10px var(--bleu-claire);
}

/*la disponibiliter presente en une phrase si je suis disponible pour un stage ou pas. Sont etat change avec vue.js on fonction de si je suis disponible ou non */
.disponibilite {
    background-color: var(--blanc);
    margin-top: 30px;
    width: 100%;
    height: 50%;
    padding: 10px;
    left: 50%;
    border-radius: 8px;    
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;    
    z-index: 3;
    font-family: "merriweather";
    color: black;
}

/*aPropos presente la description de ma personne*/
.aPropos {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bleu-claire);
    text-align: justify;
}

/*C'est le titre du text aPropos*/
.aPropos h2 {
    width: 60%;
    font-size: 1.9em;
    font-family: "ougkeh", sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*C'est le text de aPropos*/
.aPropos p {
    font-family: "merriweather";
    font-size: 1.4em;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ↘️ TROISIÉME SECTION DU PORTFOLIO ↘️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Cette section est glacée et elle englobe les compétences.  Il y a dessus dans le javascript une animation qui le fait l'effet parralaxe.*/
.troisiemeSection {
    position: relative;
    width: 100%;
    height: 260vh;
    margin: 0;
    background-image: url('./img/3ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    z-index: 4; /* Passe au-dessus de disponibilite */
    box-sizing: border-box;
}

/*comptenance enlobe le carrousel de mes projets et les logiciel metriser.*/
.competance {
    width: 50%;
    height: 29%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--bleu-claire);
    box-shadow: inset 0 0 25px 25px rgba(159, 171, 179, 0.4);
    opacity: 0;
}

.competance p {
    font-size: 1.4em;
    font-family: "ougkeh", sans-serif;
    letter-spacing: 2px;
}

.competance p:nth-child(1) {
    bottom: 0;
}

.swiper {
    width: 550px; 
    height: 450px; 
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    object-fit: contain;
}

.swiper-slide {
    width: 100%; 
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-next, 
.swiper-button-prev {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*le div iconsComp englobe les icons des logiciels metriser.*/
.iconsComp {
    position: relative;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 27px;
}

/*La premier div possedant trois images d'icon seras placer a coter du div possedant deux images d'icons.*/
.icon1, .icon2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    width: 196px; 
    margin: 0;
}

/*.icon est la class de l'image et il lui est donner une taille.*/
.icon {
    max-width: 60px; 
    height: auto;    
    display: block;
    margin: 0;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ⬇️ BAS DE PAGE ⬇️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Le footer englobe les infos general.*/
footer {
    position: relative; 
    width: 100%;
    height: 20vh;
    bottom: 0;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; /* Passe au-dessus de troisiemeSection */
    margin: 0;
}

/*infoGeneral englobe les information pour me contacter et les info de la navigation.*/
.infoGeneral {
    height: 70%;
    width: 60%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*Le text de contact et navigation est centrer en column.*/
.contact, .Navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Un taille et un style est mis sur les titres de Contact et Navigation.*/
h4 {
    font-size: 1.8em;
    font-family: "ougkeh", sans-serif;
    margin-bottom: 6px; 
    letter-spacing: 2px;
}

/*Un taille et un style est mis sur le text de Contact et Navigation.*/
.paragrapheInfo {
    margin: 0;
    font-family: "merriweather";
    line-height: 1.4;
    font-size: 1.4em;
}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # 🎭 PAGE DES PROJETS 🎭
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*principalImageProjet est un div qui englobe une grand image qui a la class imagePrincipalProjet du projets. Une animation d'opaciter lorsque la page est charger a etais mis dessus.*/
.principalImageProjet {
    position: fixed;
    margin: 5vh 0 80px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: anim;
    animation-duration: 2s;
}

/*Un lien cliquable vers une video ou le resultat du projets en question est mis sur le div lorsque en clique dessus il ouvre l'autre onlet avec le projet..*/
.principalImageProjet a {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/*imagePrincipalProjet est la class de l'image du projet.*/
.imagePrincipalProjet  {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border: outset 11px var(--bleu-claire);
}

/*La premierSectionProjet englobe tout la presentation du projets en image et texte. Elle possede une animation pour créer un effet paralaxe.*/
.premierSectionProjet {
    position: relative;
    width: 100%;
    height: 260vh;
    background-image: url('./img/2ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

/*projetExplixation englobe tout la premier presentation du projets avec sont titre, son text et une image.*/
.projetExplixation {
    width: 60%;
    height: 20%;
    margin-bottom: 300px;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}

/*imageProjet est un nom de class que possede les deux div qui englobe un des deux images qui presente le projets.*/
.imageProjet {
    width: 30%;
    height: 60%;
    max-height: 70vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*L'image dans projetExplixation est cherche dans explixationImg la deuxieme parti du nom de class ou ce trouve aussi imageProjet.*/
.explixationImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: outset 11px var(--bleu-claire);
}

/*projetDeveloppement englobe tout la deuxieme presentation du projets avec sont titre, son text et une image.*/
.projetDeveloppement {
    margin-top: 50px;
    margin-bottom: 300px;
    width: 60%;
    height: 20%;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}

/*L'image dans projetDeveloppement est cherche dans developpementImg la deuxieme parti du nom de class ou ce trouve aussi imageProjet.*/
.developpementImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: inset 11px var(--bleu-claire);
}


/*projetConception est le nom de class que possede deux div qui encadre le texte et titre dans le div projetExplixation et projetDeveloppement.*/
.projetConception {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--bleu-claire);
}

/*titre est le nom de class que possede deux h2 qui se trouve dans projetConception qui est lui dans le div projetExplixation et projetDeveloppement.*/
.titre {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    font-family: "ougkeh", sans-serif;
    letter-spacing: 2px;
}

/*conception est le nom de class que possede deux p qui se trouve dans projetConception qui est lui dans le div projetExplixation et projetDeveloppement.*/
.conception {
    margin-top: 20px;
    font-family: "merriweather";
    font-size: 0.5em;
    text-align: justify;
}

/*anim est le nom d'animation mis dans principalImageProjet et principalImage pour creer une transition d'opaciter.*/
@keyframes anim { 
  from { opacity: 0; } 
  to { opacity: 1; }  
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # 💻 VERSION TABLETTE 💻
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Lorsque la taille de la page est plus petit en largeur que 1800px les diverses informationde de style mis dans des objets sont modifier pour s'adapter a la taille de la page.*/
@media screen and (max-width: 1800px)  {
    .menu {
        background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
        width: 50px;
        height: 7px;
        border-radius: 2px;
    }
    
    .bouton {
        margin: 15px;
        font-size: 1.6em;
    }

    .logo {
            width: 300px;
            max-width: 300px; 
    }

    .flocon {
        width: 30px;
        height: 30px;
        margin: 10px;
        background-color: var(--blanc);
        border-radius: 90px;
        box-shadow: 0px 0px 30px var(--blanc);
    }

    .principalImage {
        margin: 7vh 0 80px 0;
        width: 100%;
    }

    .dessin {
        width: 55%;
        object-fit: contain;
        display: block;
        border: inset 10px var(--bleu-claire);
    }
    
    .deuxiemeSection {
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-media-moyen.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        z-index: 2; /* Passe au-dessus de decoPresentation */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentation {
        width: 60%;
        height: 25%;
        padding: 20px;
    }

    .photoDispo {
        width: 30%;
        height: 70%;
    }
    
    .photo {
        width: 200px;
        height: 90%;
    }

    .aPropos {
        width: 40%;
        font-size: 0.7em;
    }

    .decoPresentation {
        height: 100vh; 
        top: 0;        
    } 

    .competance {
        width: 60%;
        height: 29%;
    }

    .swiper {
        width: 410px; 
        height: 330px; 
        position: relative;
        margin: auto;
    }

    .infoGeneral {
        height: 70%;
        width: 80%; 
    }

    .principalImageProjet a{
        width: 60%;
    }

    .projetExplixation {
        width: 70%;
        height: 23%;
        margin-bottom: 100px;
    }

    .imageProjet {
        width: 300px;
        height: 240px;
    }

    .projetConception {
        width: 60%;
        font-size: 2.1em;
    }

    .projetDeveloppement {
        margin-top: 60px;
        width: 70%;
        height: 25%;
    }

    .projetDescritpion {
        width: 60%;
        margin: 30px;
        font-size: 2.1em;
    }
}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # 📱 VERSION MOBILE 📱
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Lorsque la taille de la page est plus petit en largeur que 900px les diverses informationde de style mis dans des objets sont modifier pour s'adapter a la taille de la page.*/
@media screen and (max-width: 900px) { 

    header {
        height: 80px;
    }

    .logo {
        width: 200px;
        max-width: 200px; 
    }

    .bouton {
        display: none;
    }
    

    /*🥪Le menu Sandwitch apparait en version mobile de mon site et lorsque je clique dessus le sous menu apparait en dessous du header🥪*/
    .menuSandwitch {
        width: 40px;
        height: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .menuDeroulant {
        width: 100vw;
        display: block;
    }

    /*🍔Le sous emnu permet montre les different liens qui mene vers un projets🍔*/
    .sousMenu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row; 
        width: 100%;
    }
    
    .sousMenu li a {
        display: block;
        width: 100%;
        padding: 10px 20px;
        color: var(--mauve-claire);
        text-decoration: none;
        font-family: "ougkeh", sans-serif;
        font-size: 1em;
        text-align: center;
                display: flex;
        justify-content: center;
        align-items: center;
    }

    .sousMenu li {
        width: 100%;
        text-align: center;
    }

    .flocon {
        width: 25px;
        height: 25px;
    }

    .dessin {
        width: 90%;
    }

    .deuxiemeSection {
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-mobile.png');
    }

    .presentation {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }    

    .photoDispo {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*Il y a dedans une image temporaire en attendant la photo professionnelle.*/
    .photo {
        width: 150px;
        height: 80%;
    }

    .aPropos {
        width: 80%;
        font-family: "ougkeh", sans-serif;
        font-size: 0.7em;
    }

    .troisiemeSection {
        width: 100%;
        height: 260vh;
        background-image: url('./img/3ieme-section-mobile.png');
    }

    .paragrapheInfo {
        margin: 0;
        font-family: "merriweather";
        line-height: 1.4;
        font-size: 0.7em;
    }

    .troisiemeSection {
        position: relative;
        width: 100%;
        height: 200vh;
        margin: 0;
        background-image: url('./img/3ieme-section-mobile.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: flex-end; 
        justify-content: center;
        z-index: 4; /* Passe au-dessus de disponibilite */
    }

    .competance {
        width: 100%;
        height: 35%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-end;
        background-color: var(--bleu-claire);
        box-shadow: inset 0 0 20px 25px var(--bleu-claire-fonce);
        opacity: 0;
        margin-bottom: 20%;
    }

    .swiper {
        width: 100%; 
        height: 80%; 
        max-width: 350px;
        position: relative;
        margin: auto;
    }

    .competance p:nth-child(2) {
        margin-top: 25px;
    }
    
    .iconsComp {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 2px;
    }

    .icon1, .icon2 {
        gap: 20px; 
        width: 30%; 
    }

    .icon {
        max-width: 60px; 
    }

    .infoGeneral {
        height: 70%;
        width: 80%; 
    }

    h4 {
    font-size: 1.3em;
    }

    .paragrapheInfo {
        font-size: 0.8em;
    }

    .premierSectionProjet {
        position: relative;
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-projets-mobile.png');
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .principalImageProjet a{
        width: 90%;
    }

    .projetExplixation {
        width: 100%;
        height: 27%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .imageProjet {
        width: 50%;
        height: 40%;
    }

    .projetConception {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .projetDeveloppement {
        margin-top: 60px;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 150px;
    }

    .projetDescritpion {
        width: 60%;
        margin: 30px;
        font-size: 1.5em;
    }

    .developpementImg img {
        border: outset 11px var(--bleu-claire);
    }

    .infoGeneral {
        height: 70%;
        width: 95%; 
    }

 }

