<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projets</title>
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div id="app" class="Portfolio">
        <header>
            <div class="navigation">
                <div class="menuSandwitch" @click="menuEtats">
                    <div class="menu sandwitch1"></div>
                    <div class="menu sandwitch2"></div>
                    <div class="menu sandwitch3"></div>
                    <section class="menuDeroulant">
                        <ul class="sousMenu" v-if="menuOuvert">
                            <li id="projet1" ><a @click="resto()">modelisation 3D</a></li>
                            <li id="projet2"><a  @click="jeux()">jeux video</a></li>
                            <li id="projet3"><a @click="animation3d()">animation 3D</a></li>
                            <li id="projet4"><a @click="courtMetrage()">court metrage</a></li>
                        </ul>
                    </section>
                </div>
                <!-- Les boutons sont faits pour un écran large, alors que le menu sandwich est pour un écran plus petit. <a href="" >accueil</a>-->
                <nav class="boutons">
                    <div class="bouton accueil">Accueil</div> 
                    <div class="bouton projet">Projet
                        <section class="menuDeroulant">
                            <ul class="sousMenu">
                                <li id="projetUn" ><a @click="resto()">modelisation 3D</a></li>
                                <li id="projetDeux"><a  @click="jeux()">jeux video</a></li>
                                <li id="projetTrois"><a @click="animation3d()">animation 3D</a></li>
                                <li id="projetQuatre"><a @click="courtMetrage()">court metrage</a></li>
                            </ul>
                        </section>
                    </div>
                </nav>
                <img class="logo" src="./img/logo.png" alt="logo-portfolio">
            </div>
        </header>
        <div class="tombeNeige">
            <div class="flocon neige1"></div>
            <div class="flocon neige2"></div>
            <div class="flocon neige3"></div>
            <div class="flocon neige4"></div>
            <div class="flocon neige5"></div>
            <div class="flocon neige6"></div>
        </div>
            <!-- La neige sera animée pour donner vie à l'environnement avec le scroll. -->
            <div class="decoPresentation">
                <!-- Donne un avant-goût du style de mon art. -->
                <div class="principalImageProjet" v-if="project.length">
                    <a :href="lienProjet" target="_blank">
                        <img class="imagePrincipalProjet" :src="imagePrincipal" alt="image-principal-du-projet">
                    </a>
                </div>
            </div>

        <!-- Cette section sera animée pour donner un effet de carte. -->

        <section class="premierSectionProjet">
            <section class="projetExplixation">

                <!-- Ce sera une photo professionnelle de moi. -->
                <div class="imageProjet explixationImg">
                    <img id="explixationImage" :src="imageDescritpion" alt="image-du-projet">
                </div>

                <!-- L'article me présente. -->
                <article class="projetConception">
                    <h2 class="titre 1">{{titreDescritpion}}</h2>
                    <p class="conception">{{paragrapheDescription}}</p>
                </article>
            </section>
            <section class="projetDeveloppement">

                <!-- Ce sera une photo professionnelle de moi. -->
                <div class="imageProjet developpementImg">
                    <img id="developpementImage" :src="imageConception" alt="image-du-projet">
                </div>

                <!-- L'article me présente. -->
                <article class="projetConception">
                    <h2 class="titre 2">{{titreConception}}</h2>
                    <p class="conception">{{paragrapheConception}}</p>
                </article>
            </section>
        </section>
        <footer>
            <div class="infoGeneral">
                <div class="contact">
                    <h4>Contact</h4>
                    <p class="paragrapheInfo">Email: amiratounekti05@gmail.com<br>Téléphone: 438-465-9454 <br>Ville:
                        Saint-Eustache </p>
                </div>
                <div class="Navigation">
                    <h4>Navigation</h4>
                    <p class="paragrapheInfo">Accueil<br>Projets</p>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./script.js" ></script>
    </div>
</body>

</html>