
/*L’intégration de la font pour mon site*/
@font-face {
    src: url("./font/OugkehRegular-DYYrW.otf") format("opentype");
    font-family: "ougkeh";
}

@font-face {
    src: url("./font/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
    font-family: "merriweather";
}

* {
    box-sizing: border-box;
    margin: 0;
    
}

/*Liste des couleurs que je vais souvent utiliser*/
:root {
    --bleu-fonce: #426C8D;
    --bleu-claire: #D6E5EF;
    --mauve-claire: #97EAD2;
    --mauve-fonce: #222C73;
    --blanc: rgb(255, 255, 255);
    --jaune: #F3E478;
}

body {
    background-color: var(--bleu-fonce);
}



/*J'ai mis des div qui englobent d'autres div à la fin pour chaque partie du site.*/
header {
    position: fixed;
    top: 0vh;
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    height: 130px;
    width: 100vw;
}

.navigation {
    width: 80vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40vh;
}

/*Pour le style des boutons, j'ai mis un (::before) pour le linear-gradient sur leurs bordures.*/
.bouton {
    position: relative;
    margin: 20px;
    padding: 9px 19px;
    border: none;
    border-radius: 13px;
    font-family: "ougkeh", sans-serif;
    font-size: 1.8em;
    color: var(--mauve-claire);
    z-index: 0;
    background: transparent;
}

.bouton:hover {
    color: var(--jaune);
    box-shadow: 0px 0px 9px var(--blanc);
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
}

.bouton::before {
    content: "";
    position: absolute;
    inset: 0; 
    border-radius: 13px;
    padding: 2px; 
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
    -webkit-mask:
        linear-gradient(#ffffff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.menuSandwitch {
    display: none;
}

/*Les flocons se trouvent dans ce grand div avec (.principalImag).*/
.decoPresentation {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*(.principalImag) englobe le dessin.*/
.principalImage {
    margin: 80px 0 80px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: none !important;
    opacity: 1 !important;
}

.dessin {
    width: 50%;
    object-fit: contain;
    display: block;
}

/*Les flocons possèdent les mêmes caractéristiques, ensuite ils sont mis à diverses positions avec (.neige).*/
.flocon {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: var(--blanc);
    border-radius: 20px;
    box-shadow: 0px 0px 9px var(--blanc);
}

.neige1 { top: 0%; left: 10%; }
.neige2 { top: 30%; left: 0%; }
.neige3 { top: 80%; left: 10%; }
.neige4 { top: 15%; right: 15%; }
.neige5 { top: 90%; right: 10%; }
.neige6 { top: 40%; left: 90%; }

/*Je vais le remplacer par une div pour mettre l’image directement dans le CSS.*/


/*Cette section est enneigée et elle englobe À propos. Il y aura dessus une animation GSAP.*/
.deuxiemeSection {
    position: absolute;
    top: 80vh; /* Ajuste pour contrôler à quel moment elle “écrase” la première */
    left: 0;
    width: 100%;
    height: 170vh;
    background-image: url('./img/2ieme-section.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2; /* Passe au-dessus de decoPresentation */
}

/*Dans la section Présentation, il y a la photo et le (À propos). Elle prend toute la largeur pour les centrer.*/
.presentation {
    margin: 10% 0 10% 0;
    width: 100%;
    height: 70%;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

/*Il y a dedans une image temporaire en attendant la photo professionnelle.*/
.photo {
    width: 200px;
    height: 300px;
    background-image: url('./img/photo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Description de ma personne*/
.aPropos {
    width: 40%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "ougkeh", sans-serif;
    font-size: 1.4em;
}

p {
    font-family: "merriweather";
}

/*Je vais le remplacer par une (div) pour mettre l’image directement dans le CSS.*/

/*Cette section est glacée et elle englobe les compétences. Il y aura dessus une animation GSAP.*/
.troisiemeSection {
    position: relative;
    width: 100%;
    background-image: url('./img/3ieme-section.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center; 
    justify-self: center;
    z-index: 5;
}

.competance {
    position: absolute;
    width: 100%;
}

/*Le carrousel englobe les images et les flèches du carrousel.*/
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;

}

.arrow {
  cursor: pointer;
  width: 10%;
  height: 10%;
  overflow: hidden;
}

.flecheDroit {
    width: 90%;
}

.flecheGauche {
    width: 90%;
    transform: scaleX(-1);
}

.carousel-images {
  width: 230px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
}

.carousel-img.active {
  opacity: 1;
  position: relative;
}

/*Cette partie est adaptative au plus petit format d’écran.*/
@media screen and (max-width: 793px)  {

  .menuSandwitch {
        width: 40px;
        height: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu {
        background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
        width: 50px;
        height: 7px;
        border-radius: 2px;
    }

    .bouton {
        display: none;
    }

    .logo {
        width: 29vh;
    }

    .presentation {
        position: absolute;
        margin: 10% 0 10% 0;
        width: 100%;
        height: 70%;
        overflow: hidden;
        z-index: 1; 
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    
    .photo {
        width: 150px;
        height: 250px;
    }

    .aPropos {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "ougkeh", sans-serif;
        font-size: 0.8em;
    }

    .decoPresentation {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 50vh; 
        float: top;
    }

}

@media screen and (max-width: 631px) { 
    .photo {
        width: 100px;
        height: 200px;
    }

    .aPropos {
        width: 80%;
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "ougkeh", sans-serif;
        font-size: 0.6em;
    }

 }