
/*L’intégration de la font pour mon site*/
@font-face {
    src: url("./font/OugkehRegular-DYYrW.otf") format("opentype");
    font-family: "ougkeh";
}

@font-face {
    src: url("./font/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
    font-family: "merriweather";
}

* {
    box-sizing: border-box;
    margin: 0;
    
}

/*Liste des couleurs que je vais souvent utiliser*/
:root {
    --bleu-fonce: #426C8D;
    --bleu-tres-fonce: #2d4a61;
    --bleu-claire: #D6E5EF;
    --bleu-claire-fonce: #a5b2bb;
    --mauve-claire: #97EAD2;
    --mauve-fonce: #222C73;
    --blanc: rgb(255, 255, 255);
    --jaune: #F3E478;
}

.Portfolio {
    overflow: hidden;
}

body {
    background-color: var(--bleu-fonce);
    margin: 0;

}

/*J'ai mis des div qui englobent d'autres div à la fin pour chaque partie du site.*/
header {
    position: fixed;
    top: 0vh;
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    height: 13vh;
    width: 100%;
    box-shadow: 0px 0px 50px black;
    margin: 0;
    
}

.navigation {
    width: 75vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 35vh;
}

.boutons {
    display: flex;
}
/*Pour le style des boutons, j'ai mis un (::before) pour le linear-gradient sur leurs bordures.*/
.bouton {
    position: relative;
    margin: 70px;
    padding: 12px 19px;
    border: none;
    border-radius: 13px;
    font-family: "ougkeh", sans-serif;
    font-size: 3.5em;
    color: var(--mauve-claire);
    z-index: 0;
    background: transparent;
      cursor: pointer;
      margin: 0 30px;
}

.bouton:hover {
    color: var(--jaune);
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
}

.bouton::before {
    content: "";
    position: absolute;
    inset: 0; 
    border-radius: 13px;
    padding: 2px; 
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
    -webkit-mask:
        linear-gradient(#ffffff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.menuSandwitch {
    display: none;
}

/*Les flocons se trouvent dans ce grand div avec (.principalImag).*/
.decoPresentation {
    position: relative;
    z-index: 1;
    height: 200vh;
    width: 100%;
    overflow: hidden;
}

/*(.principalImag) englobe le dessin.*/
.principalImage {
    position: fixed;
    margin: 30vh 0 80px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dessin {
    width: 40%;
    object-fit: contain;
    display: block;
    border: inset 10px var(--bleu-claire);
}

/*Les flocons possèdent les mêmes caractéristiques, ensuite ils sont mis à diverses positions avec (.neige).*/
.flocon {
    position: absolute;
    top: 0; 
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: var(--blanc);
    border-radius: 90px;
    box-shadow: 0px 0px 30px var(--blanc);
}


/*Cette section est enneigée et elle englobe À propos. Il y aura dessus une animation GSAP.*/
.deuxiemeSection {
    position: relative;
    width: 100%;
    height: 200vh;
    background-image: url('./img/2ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2; /* Passe au-dessus de decoPresentation */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*Dans la section Présentation, il y a la photo et le (À propos). Elle prend toute la largeur pour les centrer.*/
.presentation {
    margin: 10% 0 10% 0;
    width: 55%;
    height: 25%;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}

/*Il y a dedans une image temporaire en attendant la photo professionnelle.*/
.photo {
    width: 20%;
    height: 70%;
    background-image: url('./img/photo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: inset 10px var(--bleu-claire);
}

/*Description de ma personne*/
.aPropos {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--bleu-claire);
}

.aPropos p {
    margin-top: 20px;
    font-family: "merriweather";

}

/*Cette section est glacée et elle englobe les compétences. Il y aura dessus une animation GSAP.*/
.troisiemeSection {
    position: relative;
    width: 100%;
    height: 260vh;
    margin: 0;
    background-image: url('./img/3ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    z-index: 9;
}

.competance {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--bleu-claire);
    box-shadow: inset 0 0 20px 25px var(--bleu-claire-fonce);
    opacity: 0;
}

/*Le carrousel englobe les images et les flèches du carrousel.*/
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
}

.arrow {
    cursor: pointer;
    height: 100px;
    overflow: hidden;
    width: 100px;
    background-image: url('./img/fleche.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.arrow:hover {
    filter: contrast(450%);
}

.left {
    transform: scaleX(-1);
}

.carousel-images {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  border: solid 10px var(--bleu-tres-fonce);
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
}

.carousel-img.active {
  opacity: 1;
  position: relative;
}

.iconsComp {
    width: 70%;
    height: 10%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

.icon {
    width: 60%;
    margin: 0 auto;
}

footer {
    position: relative; 
    width: 100%;
    height: 20vh;
    bottom: 0;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0;
}

.infoGeneral {
    height: 70%;
    width: 60%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact, .Navigation {
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 1.8em;
    font-family: "ougkeh", sans-serif;
    margin-bottom: 6px; 
}

.paragrapheInfo {
    margin: 0;
    font-family: "merriweather";
    line-height: 1.4;
    font-size: 1.4em;
}


/*Cette partie est adaptative au plus petit format d’écran.*/
@media screen and (max-width: 1880px)  {
    .menu {
        background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
        width: 50px;
        height: 7px;
        border-radius: 2px;
    }
    
    .bouton {
        margin: 15px;
        font-size: 2em;
    }

    .logo {
        width: 35vh;
    }

    .flocon {
        width: 30px;
        height: 30px;
        margin: 10px;
        background-color: var(--blanc);
        border-radius: 90px;
        box-shadow: 0px 0px 30px var(--blanc);
    }

    .principalImage {
        margin: 20vh 0 80px 0;
        width: 100%;
    }

    .dessin {
        width: 40%;
        object-fit: contain;
        display: block;
        border: inset 10px var(--bleu-claire);
    }

    .deuxiemeSection {
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-media-moyen.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        z-index: 2; /* Passe au-dessus de decoPresentation */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentation {
        margin: 15% 0 10% 0;
        width: 30%;
        height: 35%;
        flex-direction: column-reverse;
    }
    
    .photo {
        width: 150px;
        height: 200px;
        margin-top: 20px;
    }

    .aPropos {
        width: 60%;
        font-size: 1em;
    }

    .decoPresentation {
        height: 100vh; 
        top: 0;        
    } 

}

@media screen and (max-width: 834px) { 
    .photo {
        width: 100px;
        height: 200px;
    }

    .bouton {
        display: none;
    }

    .aPropos {
        width: 80%;
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "ougkeh", sans-serif;
        font-size: 0.6em;
    }
      .menuSandwitch {
        width: 40px;
        height: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        width: 20vh;
    }

    .paragrapheInfo {
        margin: 0;
        font-family: "merriweather";
        line-height: 1.4;
        font-size: 0.7em;
    }

 }



 /* --------------------------------------------------------------

 # PAGE PROJET RESTO
 
 ----------------------------------------------------------------*/

.premierSectionProjet {
    position: relative;
    width: 100%;
    height: 260vh;
    background-image: url('./img/2ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2; /* Passe au-dessus de decoPresentation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.restoUn  {
    width: 40%;
    height: 60%;
    background-image: url('./img/projets/projet_resto1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: outset 11px var(--bleu-claire);
}

.projetConception {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--bleu-claire);
}

.projetExplixation {
    width: 55%;
    height: 20%;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}

.titre {
    width: 60%;
    font-size: 0.9em;
    font-family: "ougkeh", sans-serif;
}

.conception {
    margin-top: 20px;
    font-family: "merriweather";
    font-size: 0.7em;
}


.restoDeux {
    width: 40%;
    height: 60%;
    margin: 0;
    background-image: url('./img/projets/projet_resto2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: inset 11px var(--bleu-claire);
}

.projetDescritpion {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--bleu-claire);
}

.projetDeveloppement {
    margin-top: 20px;
    width: 55%;
    height: 20%;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}