
/*L’intégration de la font pour mon site*/
@font-face {
    src: url("./font/OugkehRegular-DYYrW.otf") format("opentype");
    font-family: "ougkeh";
}

@font-face {
    src: url("./font/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
    font-family: "merriweather";
}

/*Liste des couleurs que je vais souvent utiliser*/
:root {
    --bleu-fonce: #426C8D;
    --bleu-tres-fonce: #2d4a61;
    --bleu-claire: #D6E5EF;
    --bleu-claire-fonce: #a5b2bb;
    --mauve-claire: #97EAD2;
    --mauve-fonce: #222C73;
    --blanc: rgb(255, 255, 255);
    --jaune: #F3E478;
}

/*L’intégration de la font pour mon site*/
* {
    box-sizing: border-box;
    margin: 0;
}

/*Le potfolio est un div qui anglobe tous et empeche que des elements depansse l'ecran*/
.Portfolio {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*Le body possede la couleur de base de mon site*/
body {
    background-color: var(--bleu-fonce);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ⬆️ HEADER ET NAVIGATEUR DU PORFOLIO ⬆️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Le header englobe tout le navigateur de mon site*/
header {
    position: fixed;
    top: 0vh;
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    height: 13vh;
    width: 100%;
    box-shadow: 0px 0px 50px black;
    margin: 0;
}

/*Le navigateur possede le logo et mes navigations en forme de div cliquable*/
.navigation {
    width: 75vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/*Le logo presente l'identiter de mon site et presente mon nom*/
.logo {
    width: 50vh;
    cursor: pointer;
}

/*Le boutons onglobe le bouton accueil et projet*/
.boutons {
    display: flex;
}

/*Le bouton s'occupe du style des deux bouton acceuil et projet*/
.bouton {
    position: relative;
    margin: 70px;
    padding: 12px 19px;
    border: none;
    border-radius: 13px;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--mauve-claire);
    z-index: 0;
    background: transparent;
    cursor: pointer;
    margin: 0 30px;
}

/*Le bouton:hover creer un changement de couleur pour signifier a l'interacteur qu'il peut cliquer dessus*/
.bouton:hover {
    color: var(--jaune);
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
}

.bouton::before {
    content: "";
    position: absolute;
    inset: 0; 
    border-radius: 13px;
    padding: 2px; 
    background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
    -webkit-mask:
        linear-gradient(#ffffff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

/*Le menuDeroulant onglobe le sousMenu ou il vas se trouver la liste des projets. Il est positionner juste en dessous du bouton projet et n'est pas encore visible car il est en display: none*/
.menuDeroulant {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: var(--bleu-tres-fonce);
    border-radius: 0 10px 10px 10px;
    display: none;
}

/*Lorsque il y a un survole sur le .bouton.projet le menuDerout apparait en changant son display*/
.bouton.projet:hover .menuDeroulant {
    display: block;
}

/*Le sousMenu vas englober les liste de projets qui sont en lien cliquable*/
.sousMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

/*Les liens qui se trouve dans le sousMenu sont styliser pour l'adapter au style du sous menu dans lequel il se trouve et la font mis en place pour le texte.*/
.sousMenu li a {
    display: block;
    height: 100%;
    padding: 10px 22px;
    color: var(--mauve-claire);
    text-decoration: none;
    font-family: "ougkeh", sans-serif;
    font-size: 0.8em;
}

/*Pour chaque lien de projets le style changeras au survole pour signifier la possibiliter d'une interaction*/
.sousMenu li a:hover {
    background-color: var(--bleu-claire-fonce);
    color: var(--jaune);
}

/*Le radius du bouton projet change au survol de celui-ci pour creer une plus grand symbiose avec le menuDeroulant*/
.bouton.projet:hover {
    border-radius: 10px 10px 0 0;
}

/*Le menuSandwitch est la version mobile du menuDeroulant et il n'apparait que lorsque la largeur de l'ecran et plus petit que 900px*/
.menuSandwitch {
    display: none;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ↗️ PREMIERE SECTION DU PORTFOLIO ↗️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Les flocons se trouvent dans ce grand div avec (.principalImag).*/
.decoPresentation {
    position: relative;
    z-index: 1;
    height: 200vh;
    width: 100%;
    overflow: hidden;
}

/*(.principalImag) englobe le dessin. Une animation d'opaciter est creer a sont apparition*/
.principalImage {
    position: fixed;
    margin: 20vh 0 80px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: anim;
    animation-duration: 2s;
}

/*Le dessin est une illustration qui pressante mon style artistique.*/
.dessin {
    width: 40%;
    object-fit: contain;
    display: block;
    border: inset 10px var(--bleu-claire);
}

/*Les flocons sont des div rond qui represente de la neige et qui possèdent le  style, ensuite ils sont mis à diverses positions avec (.neige) dans le javascript.*/
.flocon {
    position: absolute;
    top: 0; 
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: var(--blanc);
    border-radius: 90px;
    box-shadow: 0px 0px 30px var(--blanc);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ➡️ DEUXIEME SECTION DU PORTFOLIO ⬅️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Cette section est enneigée et elle englobe À propos. Il y a dessus dans le javascript une animation qui le fait l'effet parralaxe.*/
.deuxiemeSection {
    position: relative;
    width: 100%;
    height: 200vh;
    background-image: url('./img/2ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2; /* Passe au-dessus de decoPresentation */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*Dans la section Présentation, il y a la photo et le (À propos). Elle prend toute la largeur pour les centrer.*/
.presentation {
    margin: 10% 0 10% 0;
    width: 55%;
    height: 25%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 29px 25px rgb(45, 74, 97, 0.6);
}


/*Dans photo il y a ma photo professionel.*/
.photo {
    position: relative;
    width: 18%;
    height: 70%;
    background-image: url('./img/photo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: inset 10px var(--bleu-claire);
}

/*la disponibiliter presente en une phrase si je suis disponible pour un stage ou pas. Sont etat change avec vue.js on fonction de si je suis disponible ou non */
.disponibilite {
    background-color: var(--blanc);
    margin-top: 30px;
    width: 100%;
    height: 50%;
    padding: 10px;
    left: 50%;
    border-radius: 8px;    
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;    
    z-index: 3;
    font-family: "merriweather";
    color: black;
}

/*aPropos presente la description de ma personne*/
.aPropos {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bleu-claire);
    text-align: justify;
}

/*C'est le titre du text aPropos*/
.aPropos h2 {
    width: 60%;
    font-size: 1.9em;
    font-family: "ougkeh", sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*C'est le text de aPropos*/
.aPropos p {
    font-family: "merriweather";
    font-size: 1.4em;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ↘️ TROISIÉME SECTION DU PORTFOLIO ↘️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Cette section est glacée et elle englobe les compétences.  Il y a dessus dans le javascript une animation qui le fait l'effet parralaxe.*/
.troisiemeSection {
    position: relative;
    width: 100%;
    height: 260vh;
    margin: 0;
    background-image: url('./img/3ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    z-index: 4; /* Passe au-dessus de disponibilite */
}

/*comptenance enlobe le carrousel de mes projets et les logiciel metriser.*/
.competance {
    width: 50%;
    height: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end;
    background-color: var(--bleu-claire);
    box-shadow: inset 0 0 25px 25px rgba(159, 171, 179, 0.4);
    opacity: 0;
}

/*Le carrousel englobe les images et les flèches du carrousel.*/
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 650px;
    height: 300px;
}

/*La fleche change grace au javascript l'image qui se trouve dans le crrousel par un autre.*/
.arrow {
    cursor: pointer;
    height: 100px;
    overflow: hidden;
    width: 100px;
    background-image: url('./img/fleche.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*Le style de la fleche est changer avec un survole pour dire a l'interracteur qu'il pe provoquer un evenement au clique.*/
.arrow:hover {
    filter: contrast(450%);
}
/*La fleche qui se trouve de l'autre cote du carrousel est inverse de sans.*/
.left {
    transform: scaleX(-1);
}

/*se div vas contenire tout les images pour en montrer une seul a la fois.*/
.carousel-images {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: solid 10px var(--bleu-tres-fonce);
}

/*Les images contenus dans carousel-images vas avoir le meme style de taille et une transition d'opaciter a chaque changement d'image dans le carrousel.*/
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 1s ease;
  border-radius: 10px;
}

/*Au survole du div contenant les images du carousel les images ne serons plus contenu dans le div.*/
.carousel-images:hover {
   overflow: visible;
}

/*Au survole de l'image dans le carousel la taille de celui-ci vas organter.*/
.carousel-img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

/*le div iconsComp englobe les icons des logiciels metriser.*/
.iconsComp {
    position: relative;
    width: 80%;
    height: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 27px;
}

/*La premier div possedant trois images d'icon seras placer a coter du div possedant deux images d'icons.*/
.icon1, .icon2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    width: 196px; 
    margin: 0;
}

/*.icon est la class de l'image et il lui est donner une taille.*/
.icon {
    max-width: 60px; 
    height: auto;    
    display: block;
    margin: 0;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # ⬇️ BAS DE PAGE ⬇️
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Le footer englobe les infos general.*/
footer {
    position: relative; 
    width: 100%;
    height: 20vh;
    bottom: 0;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; /* Passe au-dessus de troisiemeSection */
    margin: 0;
}

/*infoGeneral englobe les information pour me contacter et les info de la navigation.*/
.infoGeneral {
    height: 70%;
    width: 60%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*Le text de contact et navigation est centrer en column.*/
.contact, .Navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Un taille et un style est mis sur les titres de Contact et Navigation.*/
h4 {
    font-size: 1.8em;
    font-family: "ougkeh", sans-serif;
    margin-bottom: 6px; 
    letter-spacing: 2px;
}

/*Un taille et un style est mis sur le text de Contact et Navigation.*/
.paragrapheInfo {
    margin: 0;
    font-family: "merriweather";
    line-height: 1.4;
    font-size: 1.4em;
}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # 🎭 PAGE DES PROJETS 🎭
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.premierSectionProjet {
    position: relative;
    width: 100%;
    height: 260vh;
    background-image: url('./img/2ieme-section.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.projetExplixation {
    width: 60%;
    height: 20%;
    margin-bottom: 300px;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}

.imageProjet {
    width: 30%;
    height: 60%;
    max-height: 70vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explixationImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: outset 11px var(--bleu-claire);
}

.developpementImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: inset 11px var(--bleu-claire);
}

.imagePrincipalProjet  {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border: outset 11px var(--bleu-claire);
}

.projetConception {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--bleu-claire);
}


.titre {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    font-family: "ougkeh", sans-serif;
    letter-spacing: 2px;
}

.conception {
    margin-top: 20px;
    font-family: "merriweather";
    font-size: 0.5em;
    text-align: justify;
}

.projetDescritpion {
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ougkeh", sans-serif;
    font-size: 2.5em;
    color: var(--bleu-claire);

}

.projetDeveloppement {
    margin-top: 50px;
    margin-bottom: 300px;
    width: 60%;
    height: 20%;
    overflow: hidden;
    z-index: 2; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    background-color: var(--bleu-fonce);
    box-shadow: inset 0 0 20px 25px var(--bleu-tres-fonce);
}

.principalImageProjet {
    position: fixed;
    margin: 20vh 0 80px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: anim;
    animation-duration: 2s;
}

.principalImageProjet a {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


@keyframes anim { 
  from { opacity: 0; } 
  to { opacity: 1; }  
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # 💻 VERSION TABLETTE 💻
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1880px)  {
    .menu {
        background: linear-gradient(40deg, var(--mauve-claire), var(--bleu-fonce));
        width: 50px;
        height: 7px;
        border-radius: 2px;
    }
    
    .bouton {
        margin: 15px;
        font-size: 2em;
    }

    .logo {
        width: 35vh;
    }

    .flocon {
        width: 30px;
        height: 30px;
        margin: 10px;
        background-color: var(--blanc);
        border-radius: 90px;
        box-shadow: 0px 0px 30px var(--blanc);
    }

    .principalImage {
        margin: 20vh 0 80px 0;
        width: 100%;
    }

    .dessin {
        width: 55%;
        object-fit: contain;
        display: block;
        border: inset 10px var(--bleu-claire);
    }
    
    .deuxiemeSection {
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-media-moyen.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        z-index: 2; /* Passe au-dessus de decoPresentation */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentation {
        width: 70%;
        height: 25%;
        padding: 20px;
    }

    .photoDispo {
        width: 30%;
        height: 70%;
    }
    
    .photo {
        width: 200px;
        height: 300px;
    }

    .aPropos {
        width: 40%;
        font-size: 0.7em;
    }

    .decoPresentation {
        height: 100vh; 
        top: 0;        
    } 

    .competance {
        width: 70%;
        height: 20%;
    }

    .carousel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        width: 550px;
        height: 260px;
    }

    .infoGeneral {
        height: 70%;
        width: 80%; 
    }

    .principalImageProjet a{
        width: 60%;
    }

    .projetExplixation {
        width: 70%;
        height: 23%;
        margin-bottom: 100px;
    }

    .imageProjet {
        width: 300px;
        height: 240px;
    }

    .projetConception {
        width: 60%;
        font-size: 2.1em;
    }

    .projetDeveloppement {
        margin-top: 60px;
        width: 70%;
        height: 25%;
    }

    .projetDescritpion {
        width: 60%;
        margin: 30px;
        font-size: 2.1em;
    }
}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



 # 📱 VERSION MOBILE 📱
 
 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) { 

    .dessin {
        width: 90%;
    }

    .deuxiemeSection {
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-mobile.png');
    }

    .presentation {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }    

    .troisiemeSection {
        width: 100%;
        height: 260vh;
        background-image: url('./img/3ieme-section-mobile.png');
    }

    .photoDispo {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*Il y a dedans une image temporaire en attendant la photo professionnelle.*/
    .photo {
        width: 200px;
        height: 230px;
    }

    .bouton {
        display: none;
    }

    .aPropos {
        width: 80%;
        font-family: "ougkeh", sans-serif;
        font-size: 0.7em;
    }

    /*🥪Le menu Sandwitch apparait en version mobile de mon site et lorsque je clique dessus le sous menu apparait en dessous du header🥪*/
      .menuSandwitch {
        width: 40px;
        height: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .menuDeroulant {
        width: 100vw;
        display: block;
    }

    /*🍔Le sous emnu permet montre les different liens qui mene vers un projets🍔*/
    .sousMenu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row; 
        width: 100%;
    }
    
    .sousMenu li a {
        display: block;
        width: 100%;
        padding: 10px 20px;
        color: var(--mauve-claire);
        text-decoration: none;
        font-family: "ougkeh", sans-serif;
        font-size: 1em;
        text-align: center;
                display: flex;
        justify-content: center;
        align-items: center;
    }

    .sousMenu li {
        width: 100%;
        text-align: center;
    }
    
    .logo {
        width: 29vh;
    }

    .paragrapheInfo {
        margin: 0;
        font-family: "merriweather";
        line-height: 1.4;
        font-size: 0.7em;
    }

    .troisiemeSection {
        position: relative;
        width: 100%;
        height: 200vh;
        margin: 0;
        background-image: url('./img/3ieme-section-mobile.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center;
        z-index: 4; /* Passe au-dessus de disponibilite */
    }

    .competance {
        width: 100%;
        height: 25%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-end;
        background-color: var(--bleu-claire);
        box-shadow: inset 0 0 20px 25px var(--bleu-claire-fonce);
        opacity: 0;
    }
    
    /*Le carrousel englobe les images et les flèches du carrousel.*/
    .carousel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        width: 400px;
        height: 200px;
    }
    
    .arrow {
        cursor: pointer;
        height: 100px;
        overflow: hidden;
        width: 60px;
        background-image: url('./img/fleche.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }


    .iconsComp {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 2px;
    }

    .icon1, .icon2 {
        gap: 20px; 
        width: 30%; 
    }

    .icon {
        max-width: 60px; 
    }

    .infoGeneral {
        height: 70%;
        width: 80%; 
    }

    h4 {
    font-size: 1.3em;
    }

    .paragrapheInfo {
        font-size: 0.8em;
    }

    .premierSectionProjet {
        position: relative;
        width: 100%;
        height: 200vh;
        background-image: url('./img/2ieme-section-projets-mobile.png');
    }

    .principalImageProjet a{
        width: 90%;
    }

    .projetExplixation {
        width: 100%;
        height: 23%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .imageProjet {
        width: 50%;
        height: 50%;
    }

    .projetConception {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .projetDeveloppement {
        margin-top: 60px;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .projetDescritpion {
        width: 60%;
        margin: 30px;
        font-size: 1.5em;
    }

    .developpementImg img {
        border: outset 11px var(--bleu-claire);
    }

 }

